input {
  padding: 4px 9px;
  border-radius: 5px;
  background-color: inherit;
  color: inherit;
  border: var(--border-clr) 1px solid;
}

input.full {
  width: 100%;
  box-sizing: border-box;
  margin: 5px 0;
}
